/* heatmap.component.css */
.heatmap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid #fff;
    padding:10px;
    display: inline-block;
}

.row {
    display: flex;
}

.column {
    width: 15px;
    height: 15px;
    margin: 1px;
    background-color: #ccc; /* Default background color */
    cursor: pointer;

    &:not([title=""]) {
        background-color: red;
    }
}

.first-column {
    width: 30px;
    height: 15px;
    padding: 0;
    margin: 0;
    font-size: small;
    color: #fff;
    background-color: transparent !important; /* Custom background color for the first column */
    cursor: pointer;
}
